.button {
  display: block;
  padding: 20px 40px;
  border-radius: 4px;
  width: 300px;
  background: url("/arrow-right.svg") no-repeat right 20px center,
    var(--color-button-primary);
  color: var(--color-text-unpainted);
}

.button:hover {
  opacity: 0.9;
}
@media (max-width: 64px) {
  .button {
    padding: 16px 24px;
    width: 100%;
  }
}
